<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.books.saumy.books" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="11" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/books_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/CustomActionBarTheme3" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/CustomActionBarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.books.saumy.books.MainActivity" />
        </activity>
        <activity
            android:name=".ListTouch"
            android:label="Book Details"
            android:theme="@style/CustomActionBarTheme2" >
        </activity>
        <activity
            android:name=".ViewFavorites"
            android:label="@string/title_activity_view_favorites"
            android:parentActivityName=".MainActivity"
            android:theme="@style/CustomActionBarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.books.saumy.books.MainActivity" />
        </activity>
        <activity
            android:name=".FavTouch"
            android:label="@string/title_activity_fav_touch"
            android:parentActivityName=".ViewFavorites"
            android:theme="@style/CustomActionBarTheme2" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.books.saumy.books.ViewFavorites" />
        </activity>
        <activity
            android:name=".MainParse"
            android:label="@string/title_activity_main_parse"
            android:parentActivityName=".MainActivity"
            android:theme="@style/CustomActionBarTheme4" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.books.saumy.books.MainActivity" />
        </activity>
        <activity
            android:name=".ShowList"
            android:label="@string/title_activity_show_list"
            android:theme="@style/CustomActionBarTheme4" >
        </activity>
        <activity
            android:name=".PriceCompare"
            android:label="@string/title_activity_price_compare"
            android:theme="@style/CustomActionBarTheme4" >
        </activity>
        <activity
            android:name=".ListViewcolumn"
            android:label="@string/title_activity_list_viewcolumn" >
        </activity>
        <activity
            android:name=".MainActivity_epub"
            android:label="@string/title_activity_main_activity_epub"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.books.saumy.books.MainActivity" />
        </activity>
        <activity
            android:name=".SplitPanel"
            android:label="@string/title_activity_split_panel" >
        </activity>
        <activity
            android:name=".AudioView"
            android:label="@string/title_activity_audio_view" >
        </activity>
        <activity
            android:name=".BookView"
            android:label="@string/title_activity_book_view" >
        </activity>
        <activity
            android:name=".DataView"
            android:label="@string/title_activity_data_view" >
        </activity>
        <activity
            android:name=".FileChooser"
            android:label="@string/title_activity_file_chooser" >
        </activity>
        <activity
            android:name=".ChangeCSSMenu"
            android:label="@string/title_activity_change_cssmenu" >
        </activity>
        <activity
            android:name=".SetPanelSize"
            android:label="@string/title_activity_set_panel_size" >
        </activity>
        <activity
            android:name=".easter"
            android:label="@string/title_activity_easter" >
        </activity>
    </application>

</manifest>
